@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: aliceblue;
    font-family: "Nunito Sans", Arial, sans-serif;
}
#container {
    display: flex;

    height: 99vh;
    width: 99vw;

    justify-content: center;
    align-items: center;
}
#circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;

    transition: .4s;
}
#top-left {
    background-color: darkgreen;
    width: 250px;
    height: 250px;

    border-top-left-radius: 100%;
    border: 5px solid black;
    box-sizing: border-box;

    transition: .4s;
}
#top-right {
    background-color: darkred;
    width: 250px;
    height: 250px;

    border-top-right-radius: 100%;
    border: 5px solid black;
    box-sizing: border-box;

    position: absolute;
    top: 0%;
    left: 50%;

    transition: .4s;
}
#bottom-left {
    background-color: darkgoldenrod;
    width: 250px;
    height: 250px;

    border-bottom-left-radius: 100%;
    border: 5px solid black;
    box-sizing: border-box;
    
    position: absolute;
    top: 50%;

    transition: .4s;
}
#bottom-right {
    background-color: darkblue;
    width: 250px;
    height: 250px;

    border-bottom-right-radius: 100%;
    border: 5px solid black;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;

    transition: .4s;
}

/* !!! CONFIGURAÇÕES DO CIRCULO CENTRAL !!! */
#circle-2 {
    width: 250px;
    height: 250px;

    border-radius: 50%;

    background-color: darkgray;

    transform: translate(-50%, -50%);

    position: absolute;
    left: 50%;
    top: 50%;
    border: 8px solid black;
    box-sizing: border-box;

    color: white;

    transition: .4s;
}
#title {
    position: absolute;
    font-size: 40px;
    margin-left: 45px;
    margin-top: 40px;
}
#botoes {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#start {
    width: 80px;
    height: 50px;

    border-radius: 50%;

    font-size: 1.1em;

    border: none;

    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.314);
}
#start:active {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.39);
    font-size: 1em;
}
#power {
    position: absolute;

    top: 50%;
    left: -35%;
}
#strict {
    position: absolute;

    top: 50%;
    left: 119%;
}
#text1 {
    position: absolute;
    top: 60%;
    left: 10%;
}
#text1 span:last-child {
    padding-left: 70px;
}
#turn {
    position: absolute;

    background: #330000;
    color: red;
    font-size: 20px;

    height: 30px;
    width: 50px;

    margin-left: 90px;
    margin-top: 170px;
    
    text-align: end;
    vertical-align: middle;
    
    line-height: 30px;
}
#text2 {
    position: absolute;
    margin-left: 86px;
    margin-top: 200px;
} 
/* !!!! MEDIA QUERY !!!! */
@media (max-width: 550px) {
    #circle {
        width: 300px;
        height: 300px;
    }
    #top-left {
        width: 150px;
        height: 150px;
    }
    #top-right {
        width: 150px;
        height: 150px;
    }
    #bottom-left {
        width: 150px;
        height: 150px;
    }
    #bottom-right {
        width: 150px;
        height: 150px;
    }
    /* !!! CONFIGURAÇÕES DO CIRCULO CENTRAL !!! */
    #circle-2 {
        width: 150px;
        height: 150px;
    }
    #title {
        font-size: 15px;
        margin-left: 40px;
        margin-top: 35px;
    }
    #start {
        width: 40px;
        height: 20px;

        font-size: .65em;
    }
    #start:active {
        box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.39);
        font-size: .6em;
    }
    #power {
        left: -51%;

        width: 10px;
    }
    #strict {
        left: 130%;

        width: 10px;
    }
    #text1 {
        top: 61%;
        left: 10%;

        font-size: 10px;
    }
    #text1 span:last-child {
        padding-left: 35px;
    }
    #turn {
        display: flex;

        align-items: center;
        justify-content: end;

        font-size: 10px;

        height: 15px;
        width: 30px;

        margin-left: 53px;
        margin-top: 100px;
    }
    #text2 {
        margin-left: 51px;
        margin-top: 116px;

        font-size: 10px;
    } 
}