@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 30px auto 30px auto;
}
main {
    width: 70%;
    margin: auto;
}
/*adicionar*/
#adicionando {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.356);

}
#item {
    flex: 80%;
    width: 80%;
    padding: 20px;
    font-size: 1.3em;

    border: none;
}
#botao-item {
    flex: 13%;
    padding: 20px;
    font-size: 1.3em;
    text-shadow: 1px 2px 9px rgba(0, 0, 0, 0.555);
    color: white;
    background-color: green;
    border: none;
}
/*Item normal*/
.item-normal {
    margin-top: 20px;
    display: flex;

    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.356);
    font-size: 1.3em;
}
.item-icone {
    padding: 20px 1px 20px 1px;
    flex: 20%;

    border-right: 1px solid rgba(0, 0, 0, 0.048);
}
.item-nome {
    flex: 77%;
    text-align: justify;
    padding: 20px;
}
.item-botao {
    padding: 20px;
    flex: 20%;
    background-color: red;
    color: white;
    text-shadow: 1px 2px 9px rgba(0, 0, 0, 0.555);
}
/*Item clicado*/
.item-clicado {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.151);
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.356);
    font-size: 1.3em;
}
.item-nome-marcado {
    text-decoration: line-through;
    padding: 20px;
}
.mdi-check-circle {
    color: blue;
}
.item-icone-clicado {
    flex: 20%;

}
